Repository dotnet/performance, pull requests merged in 2023-01, with the labels that each got.

#2777 Add more Enum perf tests
  src/benchmarks/micro/libraries/System.Runtime/Perf.Enum.cs
Labels: adds new benchmarks

#2814 Add benchmark for mutual TLS authentication
  src/benchmarks/micro/libraries/System.Net.Security/SslStreamTests.cs
Labels: adds new benchmarks

#2816 [wasm] Update to build for tfm=net8.0
  azure-pipelines.yml
  eng/performance/blazor_scenarios.proj
  scripts/ci_setup.py
  scripts/micro_benchmarks.py
  src/scenarios/blazorpizza/Directory.Build.props
  src/scenarios/blazorpizza/Directory.Build.targets
  src/scenarios/blazorpizza/src/BlazingComponents/BlazingComponents.csproj
  src/scenarios/blazorpizza/src/BlazingPizza.Client/BlazingPizza.Client.csproj
  src/scenarios/blazorpizza/src/BlazingPizza.ComponentsLibrary/BlazingPizza.ComponentsLibrary.csproj
  src/scenarios/blazorpizza/src/BlazingPizza.Shared/BlazingPizza.Shared.csproj
  src/scenarios/blazorpizza/src/Directory.Build.props
  src/scenarios/blazorpizzaaot/Directory.Build.props
  src/scenarios/blazorpizzaaot/Directory.Build.targets
  src/scenarios/blazorpizzaaot/src/BlazingComponents/BlazingComponents.csproj
  src/scenarios/blazorpizzaaot/src/BlazingPizza.Client/BlazingPizza.Client.csproj
  src/scenarios/blazorpizzaaot/src/BlazingPizza.ComponentsLibrary/BlazingPizza.ComponentsLibrary.csproj
  src/scenarios/blazorpizzaaot/src/BlazingPizza.Shared/BlazingPizza.Shared.csproj
  src/scenarios/blazorpizzaaot/src/Directory.Build.props
  src/scenarios/build-common/Blazor.Directory.Build.targets
  src/scenarios/build-common/Blazor.PackageVersions.props
  src/tools/Reporting/Reporting/Reporter.cs
Labels: arch-wasm

#2853 [wasm] Use TrimMode=partial for microbenchmarks
  src/benchmarks/micro/MicroBenchmarks.Wasm.props
Labels: arch-wasm

#2852 [Release/6.0] Update Windows Public Queues
  azure-pipelines.yml
Labels: bug, dependencies
