Repository dotnet/performance, pull requests merged in 2025-05, with the labels that each got.

#4843 [Android] Add Mono AOT, CoreCLR R2R, CoreCLR R2R Composite, NativeAOT Android SDK configurations
  eng/performance/maui_scenarios_android.proj
  eng/pipelines/sdk-perf-jobs.yml
  src/scenarios/shared/mauisharedpython.py
Labels: Scenario, adds new benchmarks

#4842 Add build time measurement to Startup tool
  eng/pipelines/templates/runtime-perf-job.yml
  scripts/run_performance_job.py
  src/scenarios/shared/const.py
  src/scenarios/shared/runner.py
  src/scenarios/shared/testtraits.py
  src/tools/ScenarioMeasurement/Directory.Packages.props
  src/tools/ScenarioMeasurement/Startup/Startup.cs
  src/tools/ScenarioMeasurement/Util/Parsers/BuildTimeParser.cs
  src/tools/ScenarioMeasurement/Util/Util.csproj
Labels: enhancement

#4846 Update binlog path check for build time measurements
  src/scenarios/shared/runner.py
  src/tools/ScenarioMeasurement/Util/Parsers/BuildTimeParser.cs
Labels: bug

#4853 Disable net462 and nativeaot8/9 public ci testing
  eng/pipelines/sdk-perf-jobs.yml
Labels: bug, pipeline blocker
