Repository dotnet/performance, pull requests merged in 2025-04, with the labels that each got.

#4808 [Android] Setup infrastructure around Android sample app for AOT/R2R testings
  eng/pipelines/runtime-perf-jobs.yml
  eng/pipelines/templates/runtime-perf-job.yml
  scripts/run_performance_job.py
  scripts/send_to_helix.py
Labels: enhancement, Scenario

#4801 upload latest build template added + cleanups
  eng/pipelines/templates/register-build-job.yml
Labels: enhancement

#4820 Disable Performance Crossgen tests
  eng/pipelines/runtime-perf-jobs.yml
Labels: bug, lab-infrastructure, pipeline blocker

#4770 Setup new dotnet new android measurements using Mono or CoreCLR runtimes
  eng/performance/maui_scenarios_android.proj
  eng/pipelines/sdk-perf-jobs.yml
  eng/pipelines/templates/run-performance-job.yml
  scripts/run_performance_job.py
  src/scenarios/mauiandroid/pre.py
  src/scenarios/mauiblazorandroid/pre.py
  src/scenarios/netandroid/pre.py
  src/scenarios/shared/mauisharedpython.py
  src/scenarios/shared/precommands.py
  src/scenarios/shared/versionmanager.py
Labels: enhancement, Scenario, python

#4837 [Android] Add MAUI Android Sample Content template app + refactor TTFD naming
  eng/performance/maui_scenarios_android.proj
  scripts/dotnet.py
  src/scenarios/mauisamplecontentandroid/post.py
  src/scenarios/mauisamplecontentandroid/pre.py
  src/scenarios/mauisamplecontentandroid/test.py
  src/scenarios/shared/precommands.py
Labels: Scenario, adds new benchmarks

#4838 Add datetime of SDK install to the PERFLAB_DATA
  src/scenarios/shared/versionmanager.py
Labels: enhancement, Scenario

#4834 Update the iOS scenarios build flow to match android
  eng/performance/maui_scenarios_ios.proj
  eng/pipelines/sdk-perf-jobs.yml
  eng/pipelines/templates/build-machine-matrix.yml
  scripts/run_performance_job.py
  src/scenarios/mauiblazorios/pre.py
  src/scenarios/mauiios/pre.py
  src/scenarios/netios/pre.py
  src/scenarios/shared/versionmanager.py
Labels: lab-infrastructure, python

#4839 [android] Partial revert of previous change to Maui Android Blazor startup measurements
  eng/performance/maui_scenarios_android.proj
Labels: bug, Scenario
